HELP.md

# Maven build artifacts
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven wrapper files - uncomment if Maven is installed globally
.mvn/
mvnw
mvnw.cmd
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Logs ###
logs/
*.log
*.log.*
*.gz
